.truth-table {
  font-family: 'Arial';
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  background: #ffffff;
  color: #000000;
  font-size: 20px;
  text-align: center;
  th {
    border: 1px solid #000000;
    padding: 12px 35px;
    font-weight: normal;
  }
  td {
    border: 1px solid #000000;
    padding: 12px 35px;
    font-weight: normal;
  }
}